@import "../assets/css/base";

body {
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  height: 100%;
  font: 14px "微软雅黑", Helvetica, Arial, sans-serif;
  background:url('../assets/img/zimei.jpg') no-repeat;
  background-size: 100% 100%;
  color: #000;
}

