<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/build/css/login.css'/>
</head>
<body>
<h1><%= title %> <img src="/images/face.png" alt=""></h1>
<p>Welcome to <%= title %></p>
</body>
<script type="application/javascript" src="/build/js/login.js"></script>
</html>
